DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID="Ov23li1Mv0Gt3QNPRRIN"
GITHUB_CLIENT_SECRET="4722ff78c0634478ed8db0ea9bb1224b5463fb3a"
GOOGLE_CLIENT_ID="260488161671-mucleigjd1mcterrtaoqfg29unmthrvt.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_STREAM_VIDEO_API_KEY="wftqsyu83p2d"
STREAM_VIDEO_SECRET_KEY="3guw323suns8m9egdjhuqy6x3vcmn47x8agr49rjyf7755d9zswk5jbxj4dqharp"
NEXT_PUBLIC_STREAM_CHAT_API_KEY="wftqsyu83p2d"
STREAM_CHAT_SECRET_KEY="3guw323suns8m9egdjhuqy6x3vcmn47x8agr49rjyf7755d9zswk5jbxj4dqharp"

OPENAI_API_KEY=""

POLAR_ACCESS_TOKEN="polar_oat_Tegmn3PwMosEG36VU0avLXtKqprEgtyXyMnG41BjBGd"
